<!DOCTYPE html>
<html<% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %> lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%=htmlWebpackPlugin.options.title || 'Webpack App'%></title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style>
        /*yangzy_缩小到90%*/
        body{
            zoom: 0.9;
            height: 110vh !important;
        }
    </style>
  </head>
  <body>
    <script src="/config.js"></script>
    <% for (var vendorChunk in htmlWebpackPlugin.options.vendorModule().files.js) { %>
    <script src="/<%= htmlWebpackPlugin.options.vendorModule().files.js[vendorChunk] %>"></script>
    <% } %>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
