<!DOCTYPE html>
<html<% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %> lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%=htmlWebpackPlugin.options.title || 'Webpack App'%></title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style>
        *::-webkit-scrollbar{
          display: none;
        }
        *{
          scrollbar-width: none;
        }
        /*yangzy_缩小到90%*/
        body{
            /*zoom: 0.9;*/
            transform: scale(0.9);
            width: 111vw;
            transform-origin: left top;
            height: 110vh !important;
            font-family: "Microsoft YaHei", serif !important;
        }
        /*修正弹框位置*/
        .InteractableModal__StyledRnd-bhp99z-1{
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%);
        }
        /*修正组件宽度*/
        .WidgetContainer__Container-sc-3cycy3-0{
            width: 100% !important;
        }
        .marginRight15{
            margin-right: 15px
        }
        .marginBottom15{
            margin-bottom: 15px
        }
        .flexBox{
            display: flex
        }
        .flexColumn{
          flex-direction: column;
        }
        .flexCenterCenter{
          justify-content: center;
          align-items: center;
        }
        .flexStartCenter{
          justify-content: flex-start;
          align-items: center;
        }
        .centerLine{
            height: 0;
            border-bottom: 1px #A6A6A6 solid
        }
        .flexShrink0{
          flex-shrink: 0;
        }
        .flexGrow1{
          flex-grow: 1 !important;
          min-width: 0;
          min-height: 0;
        }
        .fontSize18{
          font-size: 18px;
        }
        .fontWeightBlod{
          font-weight: bold;
        }
        .blockBox{
          display: block !important;
        }
        .margin0_auto{
          margin: 0 auto !important;
        }
        .bgColor42BFEC {
          background-color: #42BFEC !important;
        }
        .bgColorDEEBF7{
            background-color: #DEEBF7 !important;
        }
        .padding5_30{
            padding: 5px 30px
        }
        .color5E4040{
            color: #5E4040
        }
        .myLogin{
            justify-content: space-between !important;
            padding-bottom: 15vh
        }
        .PageContentLayout__StyledGrid-sc-1xau5mm-1{
            height:100%;
            overflow: auto;
        }
    </style>
    <script id="vertexshader" type="x-shader/x-vertex">varying vec2 vUv;
        void main() {

            vUv = uv;

            gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

        }</script><script id="fragmentshader" type="x-shader/x-fragment">uniform sampler2D baseTexture;
        uniform sampler2D bloomTexture;

        varying vec2 vUv;

        void main() {

            gl_FragColor = ( texture2D( baseTexture, vUv ) + vec4( 1.0 ) * texture2D( bloomTexture, vUv ) );

        }
    </script>
    <link href="http://192.168.15.131/css/app.8645503b.css" rel="preload" as="style">
    <link href="http://192.168.15.131/js/app.a3fa53ba.js" rel="preload" as="script">
    <link href="http://192.168.15.131/js/chunk-vendors.626e3c0f.js" rel="preload" as="script">
    <link href="http://192.168.15.131/css/app.8645503b.css" rel="stylesheet">
  </head>
  <body>
    <script src="/config.js"></script>
    <% for (var vendorChunk in htmlWebpackPlugin.options.vendorModule().files.js) { %>
    <script src="/<%= htmlWebpackPlugin.options.vendorModule().files.js[vendorChunk] %>"></script>
    <% } %>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <script src="http://192.168.15.131/js/chunk-vendors.626e3c0f.js"></script>
    <script src="http://192.168.15.131/js/app.a3fa53ba.js"></script>
  </body>
</html>
